# Ignore virtual environment
venv/

# Ignore environment file
.env

# Ignore logs
logs/

# Ignore Python bytecode caches
__pycache__/
news/__pycache__/
scrappy_test/__pycache__/

# Ignore database migration files
# news/migrations/
scrappy_test/migrations/
procurement/migrations/

media/

static/
