# Ignore virtual environment
venv/

# Ignore environment file
.env

# Ignore logs
logs/

# Ignore Python bytecode caches
__pycache__/
news/__pycache__/
scrappy_test/__pycache__/

# Include the specific migration
# !news/migrations/0002_rename_title_eng_enposthead_title_en_and_more.py

# Ignore database migration files
# news/migrations/
scrappy_test/migrations/
procurement/migrations/

media/

static/
